fastapi==0.110.0
uvicorn[standard]==0.29.0

# SQLAlchemy async
sqlalchemy==2.0.29
asyncpg==0.29.0

# Alembic (synkron driver, fungerar på Windows)
alembic==1.13.1

# Pydantic v3
psycopg[binary]

typing-extensions==4.12.2